In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

file = "cleanedbeerapipull.csv"
beer_dict_df = pd.read_csv(file)

In [6]:
beer_dict_df.head(20)

    index                                               data
0       0  {'id': 'Ku1a3J', 'name': 'Adnams Ginger Beer',...
1       1  {'id': '0S5yCW', 'name': 'Alster', 'nameDispla...
2       2  {'id': 'KMcfsN', 'name': 'Altenburger Radler',...
3       3  {'id': 't7flbd', 'name': 'Amstel Oud Bruin', '...
4       4  {'id': '3Or1VY', 'name': 'Apoldaer Radler', 'n...
5       5  {'id': 'iEZqaZ', 'name': 'Bays Light Ale', 'na...
6       6  {'id': 'KEhqHy', 'name': 'Beck’s Chilled Orang...
7       7  {'id': 'BBsGkH', 'name': 'Beck’s Green Lemon',...
8       8  {'id': 'nVb4ti', 'name': 'Beck’s Ice', 'nameDi...
9       9  {'id': 'ibUawL', 'name': 'Berliner Kindl Radle...
10     10  {'id': 'RVKKEP', 'name': 'Berliner Weisse', 'n...
11     11  {'id': 'U3lqIl', 'name': 'Bischoff Radler', 'n...
12     12  {'id': 'wKA3eP', 'name': 'Bitburger Radler', '...
13     13  {'id': 'irTMtk', 'name': 'Braugold Radler', 'n...
14     14  {'id': 'GfcCAv', 'name': 'Braustolz Diesel', '...
15     15  {'id': 'eLtO1U', 'name': 'Braustolz Radler', '...
16     16  {'id': '2aHWKk', 'name': 'Dingslebener White G...
17     17  {'id': 'Jr53eR', 'name': 'Dry Hopped Berliner ...
18     18  {'id': 'fVSUXE', 'name': 'Einbecker Alster', '...
19     19  {'id': '3BjgNn', 'name': 'Einbecker Green-Lemo...